@{
    ViewBag.Title = "Home Page";
}

@section AddToHead{
    <link href="@Url.Content("~/Content/Views/Home.scss")" rel="stylesheet" type="text/css" />
}

<div class="jumbotron">
    <div class="legend-container">
        <div class="legend-text">
            <h1>Welcome!</h1>
            <p>Now you're on Nuvus-earth;</p>
            <p class="second-node">prepare for the ultimate experience into adventures, peasant!</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Go to adventure!</h2>
        <p>
            Start you adventure in the fabolous world of Nuvus-earth; got the supremacy slaying the most dangerous monster and hidden evils that mere in the darkness!
            Do all this if you don't got Corona-Virus don't be idiot!
        </p>
        <p class="pull-right">
            <a class="btn btn-default" href="/Home/About">
                Learn more
                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Know the best players!</h2>
        <p>Be part of the most legendaries players on Nuvus-earth!</p>
        <p class="pull-right">
            <a class="btn btn-default" href="/Characters">
                Know the Masters!
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Know your enemies!</h2>
        <p>You most keep watch the terrors that live on the deepest wastelands!</p>
        <p class="pull-right">
            <a class="btn btn-default" href="/Monsters">
                Fight us!
                <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
            </a>
        </p>
    </div>
</div>