
.jumbotron {
    height: 100%;
}

.legend-container {
    background-image: url(../../Assets/imgs/background.jpg);
    height: 520px;
    background-repeat: no-repeat;
    color: white;
    background-size: 1020px 500px;
    
    .legend-text {
        padding: 20px 0 0 25px;
        p {
            margin-bottom: 0px;  
        }
        p:nth-last-child(1) {
            margin-left: 15%;
        }
    }
}

